body.night {
    background-color: #23272A;
    color: white;
}

body:not(.night) .card {
    background-color: #fff !important;
}

.card {
    background-color: #23272A !important;
}

body {
    transition: all 0.5s;
}

#main-button {
    color: white;
    background-color: #1e3799;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.65);
    transition: all 0.5s;
    margin-top: 2%;
    position: relative;
    top: 0;
}

#main-button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85), 0 0 0 100px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
}

#main-button.focused {
    animation: button .5s;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85), 0 0 0 100px rgba(0, 0, 0, 0), 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

@keyframes button {
    0% {
        color: black;
    }
    50% {
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: black;
    }
}

#imagecard,
#newscard {
    margin: 0.5rem auto 1rem auto;
}

#imagecard {
    width: fit-content;
    max-width: 75%;
}

#newscard {
    width: 50%;
}

#mainbody {
    transform: translateY(-86%);
    transition: all .5s cubic-bezier(0, 0.56, 0.76, 1.19);
}

#image {
    width: initial;
    margin: 0 auto;
}

#quotepanel {
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
}