body.night {
    background-color: #23272A;
    color: white;
}
body {
    transition: all 0.5s;
}

#main-button {
    color: white;
    background-color: #1e3799;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.65);
    transition: all 0.5s;
    margin-top: 2%;
    position: relative;
    top: 0;
}

#main-button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85), 0 0 0 100px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
}

#main-button:hover:focus {
    animation: button .5s;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85), 0 0 0 100px rgba(0, 0, 0, 0), 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

@keyframes button {
    0% {
        color: black;
    }
    50% {
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: black;
    }
}
