<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="static/css/materialize.css">
    <title>MakeMeHappy</title>
</head>





<body>
    <div id="night-theme-button"><i class="material-icons medium">brightness_high</i></div>
    <div id="mainbody" class="w3-container w3-center">
        <div id="content">
            <div class="h-hover">
                <a target="_blank" id="hover-image-click" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">open_in_new</i></a>

                <div id="imagecard" class="card">
                    <div class="card-image">
                        <img class="materialboxed" id="image" height="400">
                        <embed class="materialboxed" id="embed" height="400" style="display:none">
                    </div>
                    <div class="card-content">
                        <p id="image-title"></p>
                    </div>
                </div>
            </div>

            <div class="h-hover">
                <a target="_blank" id="hover-quote-click" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">open_in_new</i></a>

                <div id="quotepanel" class="w3-panel">
                    <p class="w3-xlarge w3-serif"><i id="quote"></i></p>
                </div>
            </div>
            <div id="newscard" class="card horizontal">
                <div class="card-image">
                    <a id="news-url" target="_blank">
                        <img id="news-image">
                    </a>
                </div>
                <div class="card-content">
                    <a id="news-url-2" target="_blank">
                        <span class="card-title" id="news-title"></span>
                    </a>
                    <p id="news-desc"></p>
                </div>
            </div>
        </div>

        <div class="w3-panel">
            <button class="w3-button w3-xxxlarge w3-ripple" id="main-button">Make Me Happy</button>
        </div>

    </div>

    <script src="static/js/materialize.js"></script>
    <script src="static/js/index.js"></script>

</body>

</html>